@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  overflow-y: hidden;
}

.top-circle {
  position: fixed;
  top: 0;
  left: 0;
  rotate: 180deg;
  width: 40%;
  height: 50%;
}

.bottom-circle {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 50%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: 135px 100px 0px;
  text-align: center;
  width: 100%;
  max-width: 350px;
  background-color: white;
  border-radius: 20px;
}

.main-container-image {
  border-radius: 20px 20px 0 0;

}

.img-perfil {
  border-radius: 50px;
  border: 4px solid white;
  position: relative;
  top: -45px;
  justify-self: center;

}

.name {
  margin-top: -30px;
  font-size: 18px;
  font-weight: 700;
}

.age {
  margin-left: 10px;
  font-weight: 400;
  color: hsla(227, 10%, 46%, 0.635);
}

.country {
  font-size: 15px;
  font-weight: 400;
  color: hsla(227, 10%, 46%, 0.582);
  margin-top: 0px;
}

.social-media {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border-top: 1px solid hsla(229, 23%, 23%, 0.062);
}

.social-numbers {
  font-size: 18px;
  font-weight: 700;
}

.followers {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: hsla(227, 10%, 46%, 0.483);
  margin-top: -10px;
}